<app-table [items]="data">
 <app-table-column>
   <ng-template columnHeader let-value let-rowIndex="rowIndex">
      Header
      <span>{{ rowIndex }}</span>
   </ng-template>
   <ng-template tableCell let-value let-rowIndex>
      value
   </ng-template>
   <ng-template tableCell let-value let-rowIndex>
      value
   </ng-template>
 </app-table-column>
 <app-table-column>
   <ng-template columnHeader let-value let-rowIndex="rowIndex">
      Header
      <span>{{ rowIndex }}</span>
   </ng-template>
   <ng-template tableCell let-value let-rowIndex>
      value2
   </ng-template>
 </app-table-column>
</app-table>